<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All listings</h2>
    <form method="GET" action="/listings/new">
        <button>Create a post</button>
    </form>
    <ul>
        <% for (let listing of allListings){ %>
            <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
        <%}%>
    </ul>
</body>
</html>